.card {
  width: 25vw;
  border-radius: 10px;
  position: relative;
  padding: 25px 15px;
  margin: 50px auto;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  background: #FFF;
}

.top {
  border-radius: 10px 10px 0 0;
  height: 110px;
  width: 100%;
  background-color: #E31836;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.bottom {
  width: 100%;
  position: absolute;
  top: 100px;
}

.bottom p {
  margin-top: 0;
  line-height: 5px;
}

.bottom h2 {
  margin-bottom: 0px;
}

.name {
  font-size: 2em;
  color: #FFF;
  display: flex;
  flex: 1;
  margin: 10px 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.player_image {
  background: #FFF;
  border-radius: 50%;
  border: 7px solid #FFB81C;
  width: 120px;
  height: 120px;
}

.num {
  font-size: 1.75em;
  margin-right: 25px;
  color: #FFB81C;
  font-weight: bold;
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.position {
  position: absolute;
  right: 160px;
  margin-top: 5px;
  top: 50px;
  font-size: 2em;
  color: #FFB81C;
  font-weight: bold;
  display: flex;
}
