.card {
  width: 25vw;
  border-radius: 10px;
  position: relative;
  padding: 25px 15px;
  margin: 50px auto;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 110px;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10px 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.player_image {
  border-radius: 50%;
  border: 7px solid #FFF;
  width: 120px;
  height: 120px;
}

.position {
  position: absolute;
  right: 140px;
  margin-top: 5px;
  font-size: 2em;
  color: #FFF;
  font-weight: bold;
  display: flex;
}

.num {
  position: absolute;
  right: 160px;
  margin-top: 5px;
  top: 50px;
  font-size: 2em;
  color: #FFF;
  font-weight: bold;
  display: flex;
}
